.sidebar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    color: #111827;
    transition: 0.2s;
}

.sidebar-link:hover {
    background-color: #f3f4f6;
    color: #16a34a;
}