<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema{% endblock %}</title>

    {% block head_extra %}{% endblock %}
</head>

<body class="layout">

    {% include "nav.html" %}

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>


    {% block scripts %}{% endblock %}

    <!-- Libs globais -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>

</html>