<li><a href="{% url 'home' %}" class="nav-link">Inicial</a></li>
<li><a href="{% url 'storage:menu-storage-user' %}" class="nav-link">Almoxarifado</a></li>
<li><a href="{% url 'refectory:home' %}" class="nav-link">Refeitório</a></li>
<li><a href="{% url 'about' %}" class="nav-link">Criadores</a></li>
<li><a href="{% url 'accounts:profile' %}" class="nav-link">Meu Perfil</a></li>

{% if request.user.is_staff %}
<li><a href="{% url 'moderator:scanner' %}" class="nav-link">Scannear</a></li>
{% endif %}

{% if request.user.is_authenticated %}
<li><a href="{% url 'accounts:logout' %}" class="nav-link text-red-600">Sair</a></li>
{% endif %}
