body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    background: #020617;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    margin-bottom: 10px;
}

#reader {
    margin: 20px auto;
}

.resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.sucesso {
    color: #22c55e;
}

.erro {
    color: #ef4444;
}