{% extends 'loans/main.html' %}
{% load static %}

{% block title %}
  Painel Administrativo
{% endblock %}

{% block content %}
  <div class="bg-gray-100 text-gray-800">
    <div class="flex min-h-screen">
      <main class="flex-1 px-6 py-8 mt-16 md:mt-0 space-y-12">
        <h1 class="text-3xl font-bold">Bem-vindo(a) ao Painel Administrativo</h1>
        {% if pedidos %}
        <section>
          <h2 class="text-2xl font-semibold mb-4">Pedidos Pendentes</h2>
          <div class="grid md:grid-cols-2 gap-4">
            {% for pedido in pedidos %}
            <div class="bg-white rounded-xl shadow p-4 space-y-2">
              <p>
                <strong>Usuário:</strong> {{ pedido.user.full_name }}
              </p>
              <p>
                <strong>Matrícula:</strong> {{ pedido.user.matricula }}
              </p>
              <p>
                <strong>Item:</strong> {{ pedido.material.name }}
              </p>
              <p>
                <strong>Quantidade:</strong> {{ pedido.quantity }}
                </p>
                <p>
                  <strong>Data e hora de Empréstimo:</strong> {{ pedido.created_at|date:'d/m/y H:i:s' }}
                </p>
                <p>
                  <strong>Data e hora prevista de Devolução:</strong> {{ pedido.expected_return_date|date:'d/m/y H:i:s' }}
                </p>
                <div class="flex gap-2 mt-2">
                  <form method="post" action="{% url 'loans:accept-loan-application' pedido.id %}">
                    {% csrf_token %}
                    <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-1 rounded">Aceitar</button>
                  </form>
                  <form method="post" action="{% url 'loans:reject-loan-application' pedido.id %}">
                    {% csrf_token %}
                    <button class="bg-red-600 hover:bg-red-700 text-white px-4 py-1 rounded">Recusar</button>
                  </form>
                </div>
              </div>
              {% endfor %}
            </div>
          </section>
        {% endif %}
        {% if emprestimos_esperando_confimacao_de_devolucao %}
        <section>
          <h2 class="text-2xl font-semibold mb-4">Empréstimos esperando confimarção de devolução</h2>
          <div class="grid md:grid-cols-2 gap-4">
            {% for emprestimo in emprestimos_esperando_confimacao_de_devolucao %}
            <div class="bg-white rounded-xl shadow p-4 space-y-2">
              <p>
                <strong>Usuário:</strong> {{ emprestimo.user.full_name }}
              </p>
              <p>
                <strong>Matrícula:</strong> {{ emprestimo.user.matricula }}
              </p>
              <p>
                <strong>Item:</strong> {{ emprestimo.material.name }}
              </p>
              <p>
                <strong>Data e hora devolvida:</strong> {{ emprestimo.date_returned|date:'d/m/y H:i:s' }}
              </p>
                <p class="text-sm font-semibold"></p>
                
                <div class="flex gap-2 mt-2">
                  <form method="post" action="{% url 'loans:accept-material-return' emprestimo.id %}">
                    {% csrf_token %}
                    <button class="bg-green-600 hover:bg-green-700 text-white px-4 py-1 rounded">Confirmar</button>
                  </form>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- <p class="text-gray-500">Nenhuma devolução prevista.</p> -->
          </section>
          {% endif %}
          <h2 class="text-2xl font-semibold mb-4">Nenhuma novidade!</h2>
          {% if not pedidos and not emprestimos_esperando_confimacao_de_devolucao%}
          
          {% endif %}
        </main>
      </div>
  </div>
  {% endblock content %}
  
{% block extra_scripts %}

{% endblock extra_scripts%}
