{% load static %}
<aside id="sidebar" class="fixed md:relative transform -translate-x-full md:translate-x-0 transition-transform duration-300 w-64 bg-black p-4 text-white z-40 space-y-6">
    <nav class="flex flex-col space-y-3">
        {% if request.user.is_staff %}
        <a href="{% url 'loans:dashboard-admin' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Área do(a) Administrador(a)
        </a>
        <a href="{% url 'loans:dashboard-user' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Início
        </a>
        <!--
            <a href="{% url 'loans:view-materials' %}" class="flex items-center font-bold gap-2 text-white">
                <i data-lucide="clipboard-list" class="w-5 h-5"></i> Ver materias
            </a>
        -->
        <a href="{% url 'loans:all-loans' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Empréstimos
        </a>

        <a href="{% url 'loans:request-loan' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Solicitar Empréstimo
        </a>
        {% else %}
        
        <a href="{% url 'loans:dashboard-user' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Início
        </a>
        
        <a href="{% url 'loans:request-loan' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Solicitar Empréstimo
        </a>
        
        <a href="{% url 'loans:all-loans' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Empréstimos
        </a>
        {% endif %}
        <a href="{% url 'accounts:logout' %}" class="flex items-center font-bold gap-2 text-white">
            <i data-lucide="clipboard-list" class="w-5 h-5"></i> Sair
        </a>
    </nav>
</aside>