{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Retirar Ficha</title>

    <link rel="stylesheet" href="{% static 'refectory/scanner.css' %}">
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Escaneie o QR do Almoço</h1>
    <p>Posicione o QR Code do responsável</p>

    <div id="reader"></div>
    <div id="resultado" class="resultado"></div>
</div>

<script src="{% static 'js/aluno.js' %}"></script>

</body>
</html>
