{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Validar Ficha</title>

    <link rel="stylesheet" href="{% static 'refectory/scanner.css' %}">
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>

<div class="container">
    <h1>Entrada no Refeitório</h1>
    <p>Escaneie o QR da ficha do aluno</p>

    <div id="reader"></div>
    <div id="resultado" class="resultado"></div>
</div>

<script>
function onScanSuccess(decodedText) {
    fetch("{% url 'almoco_validar' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
            token: decodedText
        })
    })
    .then(res => res.json())
    .then(data => {
        const r = document.getElementById("resultado");

        if (data.erro) {
            r.innerText = data.erro;
            r.className = "resultado erro";
        } else {
            r.innerText = "Entrada liberada ✔️\n" + data.aluno;
            r.className = "resultado sucesso";
        }
        if ficha.data != timezone.now().date():
            return JsonResponse({"erro": "Ficha fora da data"})
    });
}

new Html5Qrcode("reader").start(
    { facingMode: "environment" },
    { fps: 10, qrbox: 250 },
    onScanSuccess
);
</script>

</body>
</html>
